---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="zh-CN">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}

			.hero-image {
				width: 100%;
				margin-bottom: 2em;
			}

			.hero-image img {
				display: block;
				margin: 0 auto;
				border: 4px solid #000000;
				box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
			}

			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 2em;
				background: #ffffff;
				border: 4px solid #000000;
				box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
			}

			.title {
				margin-bottom: 2em;
				padding: 1.5em 0;
				text-align: center;
				line-height: 1;
				border-bottom: 4px solid #000000;
			}

			.title h1 {
				margin: 0 0 0.5em 0;
				font-size: 2.5em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}

			.date {
				margin-bottom: 0.5em;
				font-weight: 600;
			}

			.date > * {
				background: #000000;
				color: #ffffff;
				padding: 0.25em 0.75em;
				display: inline-block;
				margin: 0.25em;
				font-size: 0.9em;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}

			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										最后更新于 <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
